<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To do list</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="box" id="heading">
    <h1><%= title %></h1>
  </div>
  <div class="box">

    <!-- <li>buy the food</li>
      <li>cook the food</li>
      <li>eat the food</li> -->
    <!-- <div class="item">
      <input type="checkbox">
      <p>buy the food</p>
    </div>
    <div class="item">
      <input type="checkbox">
      <p>cook the food</p>
    </div>
    <div class="item">
      <input type="checkbox">
      <p>eat the food</p>
    </div> -->
    <% new_items.forEach(function(i) { %>
    <form class="" action="/delete" method="post">
      <div class="item">

        <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%= i._id %>">

        <p><%= i.name %></p>

      </div>
      <input type="hidden" name="list_name" value="<%= title %>"></input>
    </form>
    <% }) %>

    <form class="item" action="/" method="post">
      <label for=""></label>
      <input type="text" name="item" value="" placeholder="new item" autocomplete="off">
      <button type="submit" name="button" value="<%= title %>">+</button>
    </form>

  </div>
</body>

</html>
